.octave-hero h1 em {
    font-weight: 300;
}

.octave-hero__content {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--70);
}

@media (--above-bp-tablet) {
    .octave-hero__content {
        flex-direction: row;
        gap: var(--wp--preset--spacing--100);
        justify-content: space-between;

        & > *:first-child {
            flex: 1 1 auto;
        }

        & > *:last-child {
            flex: 0 0 300px;
        }
    }
}