.octave-header {
    padding-top: var(--wp--preset--spacing--120);
    padding-right: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: 0;
}

.octave-header__container {
    max-width: var(--octave--width-medium-size);
    margin: 0 auto;
}

.octave-header h1 {
    font-size: var(--wp--preset--font-size--4-x-large);
    margin-block-start: var(--wp--preset--spacing--100);
    margin-bottom: var(--wp--preset--spacing--70);
}

.octave-header .wp-block-post-excerpt {
    font-size: var(--wp--preset--font-size--large);
}

.octave-header .wp-block-separator {
    margin-top: var(--wp--preset--spacing--100);
    margin-block-end: var(--wp--preset--spacing--70);
}

/* Shared Elements */

.octave-header__container .wp-block-post-terms,
.octave-header__container .wp-block-breadcrumbs {
    font-family: var(--wp--preset--font-family--inter-tight);
    font-size: var(--wp--preset--font-size--x-small);
    font-style: italic;
    font-weight: 300;
    color: var(--wp--preset--color--grey-medium);
    
    a {
        color: var(--wp--preset--color--grey-medium);
    }
    
    a:hover {
        color: var(--wp--preset--color--accent);
    }
}

.octave-header__container .wp-block-breadcrumbs li:not(:last-child)::after,
.octave-header__container .wp-block-post-terms .wp-block-post-terms__separator {
    color: var(--wp--preset--color--grey);
}

/* Single Posts */

.octave-header--post > *:last-child:not(.wp-block-post-featured-image) {
    padding-bottom: var(--wp--preset--spacing--60);
}

.octave-header__container + .wp-block-post-featured-image {
    margin-top: var(--wp--preset--spacing--100);
}

.octave-header--post .wp-block-post-featured-image {
    max-width: var(--wp--style--global--wide-size);
    margin-left: auto;
    margin-right: auto;
}

.octave-header--post .octave-header__post-meta {
    display: flex;
    justify-content: space-between;
}

/* Blog and Archives */

.octave-header--blog .octave-header__container {
    max-width: var(--octave--width-wide-size);
    margin: 0 auto;
}
