.is-layout-constrained > * + h1,
.is-layout-constrained > * + h2,
.is-layout-constrained > * + h3,
.block-editor-block-list__layout.is-root-container > * + h1,
.block-editor-block-list__layout.is-root-container > * + h2,
.block-editor-block-list__layout.is-root-container > * + h3 {
	margin-block-start: var(--wp--preset--spacing--100);
}

.is-layout-constrained > * + h4,
.is-layout-constrained > * + h5,
.is-layout-constrained > * + h6,
.block-editor-block-list__layout.is-root-container > * + h4,
.block-editor-block-list__layout.is-root-container > * + h5,
.block-editor-block-list__layout.is-root-container > * + h6 {
	margin-block-start: var(--wp--preset--spacing--80);
}

/* Spacing on next elements */
.is-layout-constrained > :is(h1, h2, h3) + * {
	margin-block-start: var(--wp--preset--spacing--40);
}

.is-layout-constrained > :is(h4, h5, h6) + * {
	margin-block-start: var(--wp--preset--spacing--30);
}
