.octave-footer {
    border-top: 1px solid var(--wp--preset--color--grey);
    padding: var(--wp--preset--spacing--80) 0 var(--wp--preset--spacing--50);
}

.footer__container {
    display: flex;
    gap: var(--wp--preset--spacing--80);
    padding-bottom: var(--wp--preset--spacing--60);
    margin-bottom: var(--wp--preset--spacing--80);
}

.footer__baseline {
    /* border-top: 1px solid var(--wp--preset--color--grey); */
    padding: var(--wp--preset--spacing--50) 0 0 0;
    margin-top: 120px;
    /* margin-block-start: var(--wp--preset--spacing--80); */
}

.footer__about {
    flex: 1 1 100%;

    h2 {
        font-family: var(--wp--preset--font-family--inter-tight);
        font-size: var(--wp--preset--font-size--large);
        margin-bottom: var(--wp--preset--spacing--30);
    }

    p {
        font-family: var(--wp--preset--font-family--inter-tight);
        font-size: var(--wp--preset--font-size--small);
        color: var(--wp--preset--color--grey-medium);
        margin-bottom: var(--wp--preset--spacing--30);

        a {
            color: var(--wp--preset--color--accent);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.footer__links {
    flex: 0 0 13%;

    h2 {
        font-family: var(--wp--preset--font-family--jetbrains-mono);
        font-size: var(--wp--preset--font-size--small);
        color: var(--wp--preset--color--neutral-dark);
        margin-bottom: var(--wp--preset--spacing--30);
    }
    
    ul {
        width: 100%;
        font-family: var(--wp--preset--font-family--inter-tight);
        font-size: var(--wp--preset--font-size--small);
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            color: var(--wp--preset--color--grey-dark);
            margin-bottom: var(--wp--preset--spacing--20);

            a {
                color: var(--wp--preset--color--grey-dark);
                font-size: var(--wp--preset--font-size--small);
                text-decoration: none;
                
                &:hover {
                    color: var(--wp--preset--color--accent);
                    text-decoration: underline;
                }
            }
        }
    }
}