
.footer__container {
    display: flex;
    justify-content: space-between;
    gap: var(--wp--preset--spacing--80);
    
    @media (--below-bp-tablet) {
        flex-direction: column;
    }
}

.footer__links ul {
    list-style: none;
}

.footer__links li {
    margin-bottom: var(--wp--preset--spacing--30);
}

.footer__links li a {
    color: var(--wp--preset--color--accent);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

.footer__links li:last-child {
    margin-bottom: 0;
}

.octave-footer--disclaimer a {
    text-decoration: underline;
}

@media (--below-bp-tablet) {
    .octave-footer--disclaimer .footer__container {
        gap: var(--wp--preset--spacing--30);
        text-align: center;
    }
    
    .octave-footer--disclaimer .wp-block-social-links {
        margin-top: var(--wp--preset--spacing--30);
        justify-content: center;
    }
}