.wp-block-group.is-style-neutral-pale {
    padding-top: var(--wp--preset--spacing--120);
    padding-right: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--110);
    background-color: var(--wp--preset--color--neutral-pale);

    & + .wp-block-group.is-style-neutral-pale {
        padding-top: var(--wp--preset--spacing--80);
    }
}

.wp-block-group.is-style-neutral-lighter {
    padding-top: var(--wp--preset--spacing--120);
    padding-right: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--110);
    background-color: var(--wp--preset--color--neutral-lighter);

    & + .wp-block-group.is-style-neutral-lighter {
        padding-top: var(--wp--preset--spacing--80);
    }
}

.wp-block-group.is-style-white {
    padding-top: var(--wp--preset--spacing--120);
    padding-right: var(--wp--preset--spacing--50);
    padding-left: var(--wp--preset--spacing--50);
    padding-bottom: var(--wp--preset--spacing--110);
    background-color: var(--wp--preset--color--white);

    & + .wp-block-group.is-style-white {
        padding-top: var(--wp--preset--spacing--80);
    }
}