.wp-block-query .octave-post,
.wp-block-query .octave-post__meta {
    display: flex;
    flex-direction: column;
    gap: var(--wp--preset--spacing--80);

    > * {
        margin: 0;
        padding: 0;
    }

    @media (--above-bp-mobile) {
        flex-direction: row;
    }
}

.wp-block-query .octave-post__meta {
    display: flex;
    flex-direction: column;
    gap: 0;
    flex: 0 0 20%;
    
    @media (--above-bp-mobile) {
        gap: var(--wp--preset--spacing--50);
    }
}

@media (--above-bp-tablet) {
    .wp-block-query .octave-post__meta {
        flex-direction: row;
        gap: var(--wp--preset--spacing--80);
        flex: 0 0 30%;
    }
}

.wp-block-query .octave-post__meta > * {
    width: 100%;
}

@media (--above-bp-mobile) {
    .wp-block-query .octave-post__date-time {
        display: flex;
        flex-direction: column;
        gap: var(--wp--preset--spacing--10);
    }
}

@media (--below-bp-mobile) {
    .wp-block-query .octave-post__date-time > * {
        display: inline-flex;

        &:first-child {
            position: relative; /* establishes the containing block */
            margin-right: calc(var(--wp--preset--spacing--70) + 7px);

            &::after {
                content: "//";
                position: absolute;
                display: inline-block;
                top: 0;
                height: 100%;
                right: calc(-1 * var(--wp--preset--spacing--70));
                color: var(--wp--preset--color--neutral);
            }
        }
    }
}

@media (--above-bp-tablet) {
    .wp-block-query .octave-post__terms {
        a {
            display: block;
        }

        .wp-block-post-terms__separator {
            display: none;
        }
    }
}
