.wp-block-button .wp-block-button__link {
    font-family: var(--wp--preset--font-family--inter-tight);
    font-size: var(--wp--preset--font-size--medium);
    font-weight: 300;
    letter-spacing: -0.005em;
    background-color: var(--wp--preset--color--grey-dark);
    border: 1px solid var(--wp--preset--color--grey-dark);
    border-radius: var(--octave--radius-small);
    padding: var(--wp--preset--spacing--40) var(--wp--preset--spacing--60);

    &:hover {
        background-color: var(--wp--preset--color--accent);
        border-color: var(--wp--preset--color--accent);
        color: var(--wp--preset--color--white);
    }
}

/* Outline Variation */

.wp-block-button.is-style-outline .wp-block-button__link {
    background-color: transparent;
    border-color: var(--wp--preset--color--grey-dark);
    color: var(--wp--preset--color--grey-dark);

    &:hover {
        background-color: var(--wp--preset--color--accent);
        border-color: var(--wp--preset--color--accent);
        color: var(--wp--preset--color--white);
    }
}

/* Small Variation */

.wp-block-button.is-style-small .wp-block-button__link {
    font-size: var(--wp--preset--font-size--x-small);
    padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);
}

/* Small Outline Variation */

.wp-block-button.is-style-small-outline .wp-block-button__link {
    font-size: var(--wp--preset--font-size--x-small);
    color: var(--wp--preset--color--grey-dark);
    background-color: transparent;
    padding: var(--wp--preset--spacing--30) var(--wp--preset--spacing--40);

    &:hover {
        background-color: var(--wp--preset--color--accent);
        border-color: var(--wp--preset--color--accent);
        color: var(--wp--preset--color--white);
    }
}